body {
 background-color: brown;
}
h1{
color: black; text-align:center; font-family: fantasy;
}
h2{
color: black; text-align:center; font-family: fantasy;
}
h3{
color: black; text-align:center; font-family: serif;
}
h4{
  color: black; text-align:center; font-family: serif;
}
p{
color: black; text-align:center; font-family:serif;
}
